@use 'variables' as v;
@use 'mixins' as mix;

body {
  background-color: v.$colorNeutral-200;
}

.page {
  margin: 50px 70px;

  &--sign-up,
  &--log-in {
    .container {
      margin-inline: auto;
      max-width: 700px;
    }
  }

  &__title {
    font-size: v.$fontMedium;
    font-weight: 600;
    color: v.$colorPrimary;
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: end;

    span {
      color: v.$colorNeutral-500;
      font-size: v.$fontMSmall !important;
      font-weight: 400;
    }
  }
}

.container {
  @include mix.container;
}

.form {
  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  button {
    margin-left: auto;
  }
}

.error {
  color: v.$colorError-500;
  background-color: v.$colorError-100;
  padding: 12px 16px;
  border-radius: v.$borderRadius-sm;
}