$fontPrimary: 'Rubik', Arial, sans-serif;

$fontLarge: 32px;
$fontMedium: 24px;
$fontSmall: 14px;

$colorPrimary: #1aac83;
$colorError: #e7195a;
$colorNeutral-100: #FFFFFF;
$colorNeutral-200: #F1F1F1;
$colorNeutral-900: #363636;